h1 {font-family: Arial; color:white;
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;}

header {font-family: Arial; color:white;
    margin: auto;
    padding: 10px;
    text-align: center;
    background-color: burlywood;
    border-top-left-radius: 70%;
    border-top-right-radius: 70%;
    height: 100%;}

body {background-color: cornflowerblue;
        width: auto;
        overflow-x: hidden;}

li {display: inline;}

a {text-decoration: none;}

h2, p {margin: auto;
    width: 100%;
    padding: 10px;
    text-align: center;}

section.zero {background-color: springgreen;
                border: solid black;}
section.one {background-color: red;
                border: solid black;}
section.two {background-color: yellow;
                border: solid black;}

h {text-decoration: none;}

h2.zero {color:springgreen;
        font-family: fantasy;}
h2.one {color: yellow;
        font-family: fantasy;}
h2.two {color:yellow;
        font-family: fantasy;}
h2.three {color: red;}

p.zero {background-color: springgreen;
    font-family: cursive;color: black;}
p.one {background-color: red;
        font-family: cursive;color: black;}
p.two {background-color: yellow;
    font-family: cursive;color: black;}
p.three {background-color: blue;
        font-family: cursive; color: black;}
P#three {background-color: blue;
        font-family: cursive;}

nav {padding-left: 0px;
    padding-right: 30px;
    width: auto;}
nav.zero {border: 3pt solid white;
            width: auto;}
nav.one {border: 3pt solid white;}

p.zero,p.one,p.two {margin: auto;
    width: 20%;
    padding: 10px;
    text-align: center;}

footer {font-family: Arial; color:white;
    margin: auto;
    padding: 10px;
    text-align: center;
    background-color: burlywood;
    height: auto;}